# Ignore the package we build to test the engine.
*.love

# Ignore the HTML documentation we generate.  Except for the Tupfile
# that generates the HTML.
docs/html/*
!docs/html/Tupfile

# Ignore the settings file the engine actually uses.  We only want Git
# to track the example file.
src/settings.lua

TAGS
