body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
    font-size: 150%;
    line-height: 1.6;
}

pre {
    background: #f0f0f0;
    margin: 1em;
    padding: 1em;
}

a:link {
    text-decoration: none;
}

h1 {
    border-top: 0.25em solid black;
    border-bottom: 0.25em solid black;
}

h2 {
    border-bottom: 0.1em dotted black;
}
